<% layout('layouts/Boilerplate') %>
<h1>
    All Experiences
</h1>

<div>
    <button><a href="/experiences/new">Add New Experience</a></button>
</div>

<ul>
    <% for(let experience of experiences) { %>
    <li>
        <a href="/experiences/<%= experience._id %>"><%= experience.title %></a>
    </li>
    <% }; %>
</ul>